@using Board_Game_Stranica_N_.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<Dogadaj>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("PopisDogadaja", "Dogadaj", FormMethod.Get, new { @class = "form-inline" }))
{
    <p>
        Traži po nazivu: @Html.TextBox("pretrazivanje", ViewBag.CurrentFilter as string)
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true" />
        </button>
    </p>
}
<p>@Html.ActionLink("Organiziraj novu igru", "NapraviDogadaj")</p>
<table class="table">
    <tr>
        <th>@Html.ActionLink("Naziv Igre", "PopisDogadaja", new { sortOrder = ViewBag.NameSortParm, filter=ViewBag.CurrentFilter })</th>
        <th>@Html.ActionLink("Datum Održavanja", "PopisDogadaja", new { sortOrder = ViewBag.DateSortParm, filter=ViewBag.CurrentFilter})</th>
        @*<th>@Html.ActionLink("Mjesto Održavanja", "PopisDogadaja", new { sortOrder = ViewBag.DateSortParm })</th>
            <th>@Html.ActionLink("Organizator", "PopisDogadaja", new { sortOrder = ViewBag.NameSortParm })</th>*@
        <th>Mjesto Održavanja</th>
        <th>Organizator</th>
    </tr>

    @foreach (Dogadaj d in Model)
    {
        <tr>
            <td>@d.Naziv</td>
            <td>@d.DatumOdrzavanja.ToString("dd/MM/yyyy")</td>
            <td>@d.Mjesto</td>
            <td>@d.Organizator</td>
            <td>
                @Html.ActionLink("Više", "Detaljno",
                new { id = d.Id }) |
                @Html.ActionLink("Ažuriranje", "AzurirajDogadaj",
                    new { id = d.Id }) |
                @Html.ActionLink("Brisanje", "BrisiDogadaj",
                    new { id = d.Id })
            </td>
        </tr>
    }
</table>
<br />
Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, stranica => Url.Action("PopisDogadaja", new { stranica, sortiranje = ViewBag.CurrentSort, filter = ViewBag.CurrentFilter }))
